@include media($mobile)
  footer
    width: 90%
    margin: 15% 5% 0% 5%
    ul
      width: 100%
      margin: 5% 0 
    ul li
      display: inline-flex
      a,i
        color: rgba(0, 0,0,0.3)
        a:hover
          color: red

@include media($laptop)
  footer
    display: block
    height: 200px
    div
      padding-top: 100px
      text-align: center
      width: 100%
      h1
        width: 100%
        text-align: center
      ul
        text-align: center
        width: 100%
