*
  box-sizing: border-box
  list-style: none
  margin: 0
  padding: 0

body, html
  height: 100%
  width: 100%
  background-color: $brand-color

section
  display: block
  width: 100%

div .page-wrapper
  width: 100%
  float: right
  clear: none
