/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Set up variables for branding, font-face and base sizes.  */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$copy-font-stack: "Droid Sans", sans-serif
$branding-font-stack: "Ubuntu", serif
$header-font-stack: "Rokkitt", serif

$base-font-size: 12px
$base-font-weight: 400
$base-line-height: 1.5em
$base-letter-spacing: 0.01em

$tablet-font-size: $base-font-size * 2
$tablet-font-weight: $base-font-weight * 2
$tablet-line-height: $base-line-height * 2
$tablet-letter-spacing: $base-letter-spacing * 2

$laptop-font-size: $base-font-size * 2
$laptop-font-weight: $base-font-weight * 3
$laptop-line-height: $base-line-height * 3
$laptop-letter-spacing: $base-letter-spacing * 3

$desktop-font-size: $base-font-size * 4
$desktop-font-weight: $base-font-weight * 4
$desktop-line-height: $base-line-height * 4
$desktop-letter-spacing: $base-letter-spacing * 4

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* General typography stuff. Applies to all media-sizes. */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
a, p
  font-family: $copy-font-stack
  font-size: $base-font-size
  letter-spacing: $base-letter-spacing
  text-decoration: none
  text-shadow: none

a
  color: $link-color
  font-weight: bold
a:hover
  color: lighten($link-color, 15%)
a:focus
  color: darken($link-color, 20%)
p
  color: $copy-color
  font-weight: 200

/* * * * * * * * */
/* Mobile Sizing */
/* * * * * * * * */
@include media($mobile)
  section#greeting
    a
      font-size: $base-font-size
    h1, h2
      font-family: $branding-font-stack
      background-color: rgba(0,0,0,0.1)
      text-shadow: 1px 1px 10px $shadow-grey
      text-transform: uppercase
      margin: 0% 8%
      line-height: $base-line-height

    h1
      color: $brand-color
      font-size: $base-font-size * 1.0
      font-weight: $base-font-weight
      letter-spacing: $base-letter-spacing * 2

    h2
      color: lighten($brand-color, 10%)
      font-size: $base-font-size * 1.25
      font-weight: 200
      line-height: $base-line-height
      letter-spacing: $base-letter-spacing * 1.5

  section#introduction
    h1
      font-family: $header-font-stack
      font-size: $base-font-size * 10
      width: 100%
      text-align: center
      color: lighten($ruby, 2%)

    i
      color: $forest
      font-size: $base-font-size * 10

    a, p
      font-size: $base-font-size * 3


  section#skills-and-tools
    h1, h2
      font-family: $header-font-stack
      font-size: $base-font-size * 8

    a, ul li
      font-size: $base-font-size * 6
      font-family: $copy-font-stack
      font-weight: $base-font-weight
      letter-spacing: $base-letter-spacing
      text-transform: uppercase

  section#latest-work
    a
      font-size: $base-font-size * 4
    h1
      font-family: $header-font-stack
      font-size: $base-font-size * 10
      color: rgba(0,0,0,0.5)
    h2
      font-family: $copy-font-stack
      font-size: $base-font-size * 2
      text-transform: uppercase
    h3
      font-family: $copy-font-stack
      font-size: $base-font-size * 2
      font-weight: $base-font-weight
    h4
      font-family: $copy-font-stack
      font-size: $base-font-size * 2
    ul li
      font-family: $copy-font-stack
      font-size: $base-font-size * 5
      text-transform: uppercase
      letter-spacing: $base-letter-spacing

  footer
    a, i
      font-size: $base-font-size * 16
    h1
      font-family: $header-font-stack
      font-size: $base-font-size * 10
      color: rgba(0,0,0,0.5)
/* * * * * * * * */
/* Tablet Sizing */
/* * * * * * * * */

/* * * * * * * * */
/* Laptop Sizing */
/* * * * * * * * */
@include media($laptop)
  section#greeting
    h1
      font-size: $laptop-font-size * 3.5
    h2
      font-size: $laptop-font-size * 1.75
      font-weight: 200

  section#introduction
    a, p
      font-size: $laptop-font-size
    h1
      font-size: $laptop-font-size * 2
    i
      font-size: $laptop-font-size * 2

  section#skills-and-tools
    h1, h2
      font-family: $header-font-stack
      font-size: $laptop-font-size
    ul li
      color: #fff
      font-family: $copy-font-stack
      font-size: $laptop-font-size
      font-weight: $laptop-font-weight * 8
      letter-spacing: $laptop-letter-spacing
      line-height: 1em
      text-transform: uppercase

  section#latest-work
    a
      font-size: $laptop-font-size
    h1
      font-family: $header-font-stack
      font-size: $laptop-font-size * 2
      color: rgba(0,0,0,0.5)
    h2
      font-family: $copy-font-stack
      font-size: $laptop-font-size
      text-transform: uppercase
    h3
      font-family: $copy-font-stack
      font-size: $laptop-font-size
      font-weight: $laptop-font-size
    h4
      font-family: $copy-font-stack
      font-size: $laptop-font-size
    ul li
      font-family: $copy-font-stack
      font-size: $laptop-font-size
      text-transform: uppercase
      letter-spacing: $laptop-letter-spacing

  footer
    a, i
      font-size: $laptop-font-size * 4
      -o-transition: color .2s ease-out
      -ms-transition: color .2s ease-out
      -moz-transition: color .2s ease-out
      -webkit-transition: color .2s
      transition: color .2s ease-out
      &:hover
        color: #1E3465
    h1
      font-family: $header-font-stack
      font-size: $laptop-font-size * 3
      color: rgba(0,0,0,0.5)

/* * * * * * * * * * * * */
/* Large Desktop Sizing  */
/* * * * * * * * * * * * */
@include media($desktop)
  //section#greeting

  section#introduction
    a, p
      font-size: $desktop-font-size * 4
    h1
      font-size: $desktop-font-size
    i
      font-size: $desktop-font-size


