---
title: Keifer Furzland, Rubyist
---
 <!-- TODO: Generate these background images programatically
  <image src="site-bg-small.jpg" srcset="site-bg-medium.jpg 1000w, site-bg-large.jpg 2000w" alt="bg">
-->
<section id="greeting">
  <div class="brand">
  <!-- TODO: Animate this via css -->
    <h1 class="fade-out">Hello, I'm Keifer</h1>
    <h2><i class="fa fa-diamond"></i>Rubyist and web developer</h2>
  </div>

  <a data-scroll class="chevron_wrap" href="#introduction">
    <span class="chevron fade-out"></span>
  </a>
</section>
<section id="introduction">
  <div>
    <!-- TODO: Make this greeting respond to local time of day -->
    <h1>Welcome</h1>
    <div><a href="#me-pic"><img class="circle-picture" src="img/keifer_face.jpg" /></a></div>
    <p> My name is Keifer Furzland, I'm a
      <!-- TODO: Make this age auto-update -->
      <span id="age">twenty-something</span> year old developer. I love <span>distributed and open-source toolsets</span>, I enjoy learning new tech alongside old tech. I don't shy from a challenge, and I think there is always a
      <!-- TODO: Draft this  -->
      <a href="http://www.linfo.org/unix_philosophy.html">right tool for the job</a>.</p>
      <br/>
      <p> While Ruby is my preferred language in which to solve problems, I love when a problem calls for a new library or language, because I get to learn!</p>
      <br />
      <p> I'm currently working as a freelance developer. Contact me <a href="mailto:kfrz.code@gmail.com">here</a> if you'd like to work together!</p>

      <i class="fa fa-tree"></i>
    <p>When I'm not conquering a codebase or renovating a repository, you might find me playing acoustic guitar, or exploring the beautiful Minnesotan woodlands. Read more on my <a href="https://medium.com/@kfrzcode">blog</a>, or see what I'm up to <a href="https://twitter.com/kfrzcode">right now</a>.</p>
  </div>
</section>

<section id="skills-and-tools">
  <h1> I enjoy writing <span style="color: rgba(200,0,0,1.0)"> Ruby</span> with these gems </h2>
  <ul class="rubygems">
    <li>rails-[3,4,5]</li>
    <li>ActiveRecord</li>
    <li>devise</li>
    <li>cancancan</li>
    <li>omniauth</li>
    <li>guard</li>
    <li>rspec</li>
    <li>cucumber</li>
    <li>mina</li>
    <li>capybara</li>
    <li>rails_12factor</li>
    <li>better-errors</li>
    <li>factory-girl</li>
    <li>nokogiri</li>
    <li>rubocop</li>
    <li>sass</li>
    <li>jquery</li>
    <li>psql</li>
    <li>timecop</li>
    <li>puma</li>
  </ul>

  <h1> &#38; with these tools </h1>
  <ul class="tools">
   <li>debian</li>
   <li>emacs</li>
   <li>vim</li>
   <li>rvm</li>
   <li>git</li>
   <li>atom</li>
   <li>travis ci</li>
   <li>heroku</li>
   <li>gitlab</li>
   <li>github</li>
   <li>atlassian suite</li>
   <li>slack</li>
   <li>new relic</li>
   <li>codeclimate</li>
  </ul>

  <h1> I'm great at. . . </h1>
  <ul class="soft-skills">
    <li> Abstraction </li>
    <li> Communication </li>
    <li> System Administration </li>
    <li> Project Management </li>
    <li> Agile Methodologies </li>
    <li> Creative Problem Solving </li>
    <li> Big-picture Thinking </li>
  </ul>

  <h1> I'm improving at. . . </h1>
  <ul class="learning">
    <li>Front-end design</li>
    <li>Devops</li>
    <li>Functional Programming</li>
  </ul>

  <h1> I dislike. . . </h1>
  <ul class="dislikes">
    <li>Windows</li>
    <li>Pessimism</li>
    <li>Apathy</li>
    <li>Monotony</li>
  </ul>

  <h1> I love. . .</h1>
  <ul class="loves">
    <li>Continuous Integration</li>
    <li>Challenges</li>
    <li>Learning</li>
    <li>Remote Work</li>
    <li>Microbrews</li>
    <li>Science Fiction</li>
    <li>Slow Travel</li>
    <li>Slow Food</li>
  </ul>
</section>

<section id="latest-work">
<h1> Recent projects </h1>
<div>

  <article>
    <h2><a href="https://gitlab.com/kfrz/anagram">Anagram API</a></h2>
    <h4>JUN 2016</h4>
    <h3>JSON formatted API written in Ruby, on Rack and Redis</h3>
    <ul> 
      <li>ruby 2.3</li>
      <li>rack</li>
      <li>redis</li>
    </ul>
  </article>

  <article>
    <h2><a href="http://100yss.org">100 Year Starship</a></h2>
    <h4>MAY 2016</h4>
    <h3>I run dev-ops and maintain a Rails 3 application for this foundation helping to bring people closer to the stars!</h3>
    <ul class="tech-stack">
      <li>rails 3.2</li>
      <li>mysql</li>
      <li>sass</li>
      <li>linode</li>
    </ul>
  </article>

  <article> 
    <h2><a href="https://itunes.apple.com/us/app/new-crew/id928134695?mt=8">New Crew</a></h2>
    <h4>FEB 2016</h4>
    <h3>Rails 4 API for social iOS application.</h3>

    <ul class="tech-stack">
      <li>rails 4</li>
      <li>ruby 2.3</li>
      <li>postgresql</li>
    </ul>

  </article>


</div>
</section>


<footer id="footer">
  <div>
    <h1> Call me, beep me </h1>
    <ul>
      <li><a href="https://www.twitter.com/kfrzcode"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://medium.com/@kfrzcode"><i class="fa fa-medium"></i></a></li>
      <li><a href="https://www.linkedin.com/in/kfurzland"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="skype:keifprycefurz?call"><i class="fa fa-skype"></i></a></li>
      <li><a href="http://stackoverflow.com/users/705131/kfrz"><i class="fa fa-stack-overflow"></i></a></li>
      <li><a href="https://gitlab.com/kfrz"><i class="fa fa-gitlab"></i></a></li>
      <li><a href="https://github.com/kfrz"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="mailto:kfrz.code@gmail.com"><i class="fa fa-envelope"></i></a></li>
    </ul>
</div>
</footer>
