<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>

    <!-- TODO: Make this dynamically select and load stylesheet from group of predefined-styles -->
    <!-- TODO: Make a "high-usability, barebones stylesheet option" -->
    <!-- TODO: Allow for URL-based POST to select which stylesheet, i.e. kfrz.work/lite would select lite.css -->
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700|Droid+Sans|Rokkitt:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="js/smooth-scroll.js"></script>
    <script src="js/fade.js"></script>
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>

      <%= yield %>

      <script>
      ;(function (window, document, undefined) {

          'use strict';

          // Cut the mustard
          var supports = 'querySelector' in document && 'addEventListener' in window;
          if ( !supports ) return;

          // Get all anchors
          var anchors = document.querySelectorAll( '[href*="#"]' );

          // Add smooth scroll to all anchors
          for ( var i = 0, len = anchors.length; i < len; i++ ) {
              var url = new RegExp( window.location.hostname + window.location.pathname );
              if ( !url.test( anchors[i].href ) ) continue;
              anchors[i].setAttribute( 'data-scroll', true );
          }

          // Initial smooth scroll (add your attributes as desired)
          smoothScroll.init({
            speed: 1200,
            easing: 'easeInOutQuad',
            updateURL: false,
            offset: 10
          });

      })(window, document);</script>
      <script> $(window).scroll(function(){
    $(".fade-out").css("opacity", 1 - $(window).scrollTop() / 250);
  });</script>
  </body>
</html>
