@include media($mobile)
  #call-to-action
    color: orange

@include media($tablet)
  #call-to-action
    color: blue

@include media($laptop)
  #call-to-action
    color: yellow

// #call-to-action
//   background-color: rgba(255,255,255,0.5)
//   height: 200px
//   text-align: center
//   padding-top: 50px
//   color: blue
//   a
//     text-align: center
//     color: black
//     font-size: 4em
//     font-weight: bolder
//     letter-spacing: .05em
//     line-height: 35px
//     text-decoration: none
//     text-transform: uppercase
