$bkg_id: 0

$bkg_url_mobile: "../img/bkg/" + $bkg_id + "/site-bg-sm.jpg"
$bkg_url_tablet: "../img/bkg/" + $bkg_id + "/site-bg-md.jpg"
$bkg_url_laptop: "../img/bkg/" + $bkg_id + "/site-bg-lg.jpg"
$bkg_url_desktop: "../img/bkg/" + $bkg_id + "/site-bg-xl.jpg"

#greeting
  // @include linear-gradient(rgba(0,0,0,0.9),rgba(255,255,255,0.01))
  width: 100%
  min-height: 100%
  padding-top: 40%
  margin: 0
  display: block

.brand
  display: block
  height: 100%
  width: 100%

h1
  display: table

h2
  clear: both
  float: left

i
  clear: none
  float: left
  height: 100%
  padding-top: 1%
  margin-right: 25px
  color: $ruby

.chevron
  -webkit-transform: rotate(360deg)
  border-color: #ffffff transparent transparent transparent
  border-style: solid
  border-width: 6em 6em 0 6em
  float: left
  height: 0px
  position: relative
  width: 0px

.chevron_wrap
  background: rgba(255,255,255,0.1) 
  border-radius: 50%
  bottom: -2em
  box-shadow: 0px 0px 5px 0px #333
  display: block
  font-size: 0.5em
  left: 50%
  position: absolute
  z-index: 1



@include media($mobile)
  section#greeting
    background: url($bkg_url_mobile) no-repeat center center scroll
    background-size: cover
    h1
      color: $brand-color
      font-size: $base-font-size * 7 
      font-weight: $base-font-weight
      letter-spacing: $base-letter-spacing * 3

    h2
      color: lighten($brand-color, 10%)
      font-size: $base-font-size * 3.25
      font-weight: 200
      line-height: $base-line-height
      letter-spacing: $base-letter-spacing * 1.5

    .chevron
      border-width: 6em 6em 0 6em

    .chevron_wrap
      height: 20em
      margin-left: -10em
      padding: 8em 4em
      width: 20em

@include media($laptop)
  section#greeting
    background: url($bkg_url_laptop) no-repeat center center scroll
    background-size: cover
    h1
      font-size: $base-font-size * 4
    h2
      font-size: $base-font-size * 2

    .chevron
      border-width: 3em 3em 0 3em

    .chevron_wrap
      height: 10em
      margin-left: -5em
      padding: 4em 2em
      width: 10em

@include media($desktop)
  section#greeting
    background: url($bkg_url_desktop) no-repeat
    backgroudn-size: cover

.big-triangle
  &:before
  -moz-transform: rotate(0.000001deg)
  -ms-transform: rotate(0.000001deg)
  -o-transform: rotate(0.000001deg)
  -webkit-transform: rotate(0.000001deg)
  border-bottom: 10px solid rgba(255,255,255,.1)
  border-left: 500px solid
  border-right: 500px solid transparent
  bottom: 0
  color: rgba(55,55,55,.1)
  content: ''
  position: absolute
  right: 50%
  transform: rotate(0.000001deg)
  width: 10%
  z-index: 100
