@include media($mobile)
  #introduction
    color: orange
    padding-top: 100px

  .circle-picture
    width: 60%
    border-radius: 50%
    margin: 10% 20%

  p
    width: 80%
    margin-left: 10%
    margin-right: 10%
    text-align: justify

@include media($tablet)
  #introduction
    color: blue
  .circle-picture
    width: 40%
    margin: 10% 30%

  p
    width: 80%
    margin-right: 10%
    margin-left: 10%


@include media($laptop)
  #introduction

  .circle-picture
    width: 20%
    margin: 3% 40%

  p
    width: 60%
    margin: 0% 20%

@include media($desktop)
  .circle-picture
    width: 30%
    margin: 4% 45%

#introduction
  display: block

  i
    text-align: center
    clear: both
    width: 100%
    margin: 2% 0
