@include media($mobile)
  section#latest-work
    div
      width: 100%

    article
      width: 100%

    h1
      width: 100%
      color: rgba(0,0,0,0.5)
      padding-left: 35px

    h2
      background-color: rgba(255,255,255,.9)
      width: 100%
      padding-bottom: 5px
      margin: 2% 4%
      border-bottom: 2px $link-color solid

    h3
      color: black
      width: 90%
      margin: 3% 5%
      text-align: justify
      margin-bottom: 6%

    h4
      margin: 2% 4%
      color: rgba(200,0,0,.5)

    ul
      width: 92% 
      margin: 0% 4%
    ul li
      color: white
      background-color: transparentize($ruby, .3)
      margin: 2% 1%
      padding: 2%
      display: inline-flex

@include media($laptop)
  section#latest-work
    h1
      padding-left: 100px
    div
      width: 84%
      clear: both
      margin: 0 8%

      article
        width: 33%
        height: 400px
        float: right
        clear: none
        display: block
        padding: 1% 2%
        margin: 0 0

        h2
          background-color: rgba(255,255,255,.9)
          border-bottom: 2px $link-color solid
          margin: 0
        h3
          width: 90%
          color: black
          text-align: justify
          margin: 3% 5%
        h4
          color: rgba(200,0,0,.5)
          margin: 40px 0px
        ul
          width: 100%
        ul li
          color: white
          background-color: transparentize($ruby, .3)
          display: inline-flex
          padding: 5px
