@include media($mobile)
  #skills-and-tools
    div
      width: 100%
    ul
      width: 85%
    ul li
      padding: 3%
      display: inline-flex

    .rubygems li
      color: $ruby
      background-color: transparentize($ruby, .7)
    .tools li
      background-color: transparentize(#827875, .3)
      color: #141212
    .soft-skills li
      background-color: transparentize(#40577E, .7)
      color: #1E3465 
    .learning li
      background-color: transparentize(gold, .9)
      color: black
    .dislikes li
      background-color: transparentize(purple, .9)
      color: #8773AF
    .loves li
      background-color: transparentize(green, .4)
      color: white
@include media($laptop)

#skills-and-tools
  width: 85%
  margin: 4% 10%
  div
    width: 100%
  ul
    width: 100%
    padding: 20px
  ul li
    margin: 8px 8px
    padding: 10px 18px
