@include media($mobile)
  #stat-cards
    height: 480px
    color: orange

@include media($tablet)
  #stat-cards
    color: blue

@include media($laptop)
  #stat-cards
    color: yellow

#stat-cards
  width: 98%
  margin: 2% 1%
  h1
  .stat-cards-wrap
    background-color: blue
    height: 90%
    margin-top: 5%
  .stat-cards-wrap::after
    clear: both
  .stat-card
    display: block
    height: 25%
    width: 100%
    padding-left: 4px
    padding-right: 4px
    padding-bottom: 2px
    a
      color: yellow
      float: left
    h2
      color: red
      font-size: 20px
    i
      font-size: 40px
      color: black
      clear: right
      float: right
      position: relative
      margin-right: 10px
      top: 1%
    span
      color: green
      float: left
      clear: left
      padding-top: 25px
