html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Set up variables for branding, font-face and base sizes.  */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* General typography stuff. Applies to all media-sizes. */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * */
a, p {
  font-family: "Droid Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-decoration: none;
  text-shadow: none; }

a {
  color: #0032be;
  font-weight: bold; }

a:hover {
  color: #0c4cff; }

a:focus {
  color: #001758; }

p {
  color: black;
  font-weight: 200; }

/* * * * * * * */
/* Mobile Sizing */
/* * * * * * * */
@media screen and (min-width: 320px) {
  section#greeting a {
    font-size: 12px; }
  section#greeting h1, section#greeting h2 {
    font-family: "Ubuntu", serif;
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 10px #6b6b6b;
    text-transform: uppercase;
    margin: 0% 8%;
    line-height: 1.5em; }
  section#greeting h1 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.02em; }
  section#greeting h2 {
    color: white;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5em;
    letter-spacing: 0.015em; }

  section#introduction h1 {
    font-family: "Rokkitt", serif;
    font-size: 120px;
    width: 100%;
    text-align: center;
    color: rgba(180, 19, 19, 0.9); }
  section#introduction i {
    color: rgba(0, 160, 0, 0.8);
    font-size: 120px; }
  section#introduction a, section#introduction p {
    font-size: 36px; }

  section#skills-and-tools h1, section#skills-and-tools h2 {
    font-family: "Rokkitt", serif;
    font-size: 96px; }
  section#skills-and-tools a, section#skills-and-tools ul li {
    font-size: 72px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: uppercase; }

  section#latest-work a {
    font-size: 48px; }
  section#latest-work h1 {
    font-family: "Rokkitt", serif;
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5); }
  section#latest-work h2 {
    font-family: "Droid Sans", sans-serif;
    font-size: 24px;
    text-transform: uppercase; }
  section#latest-work h3 {
    font-family: "Droid Sans", sans-serif;
    font-size: 24px;
    font-weight: 400; }
  section#latest-work h4 {
    font-family: "Droid Sans", sans-serif;
    font-size: 24px; }
  section#latest-work ul li {
    font-family: "Droid Sans", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.01em; }

  footer a, footer i {
    font-size: 192px; }
  footer h1 {
    font-family: "Rokkitt", serif;
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5); } }
/* * * * * * * */
/* Tablet Sizing */
/* * * * * * * */
/* * * * * * * */
/* Laptop Sizing */
/* * * * * * * */
@media screen and (min-width: 1024px) {
  section#greeting h1 {
    font-size: 84px; }
  section#greeting h2 {
    font-size: 42px;
    font-weight: 200; }

  section#introduction a, section#introduction p {
    font-size: 24px; }
  section#introduction h1 {
    font-size: 48px; }
  section#introduction i {
    font-size: 48px; }

  section#skills-and-tools h1, section#skills-and-tools h2 {
    font-family: "Rokkitt", serif;
    font-size: 24px; }
  section#skills-and-tools ul li {
    color: #fff;
    font-family: "Droid Sans", sans-serif;
    font-size: 24px;
    font-weight: 9600;
    letter-spacing: 0.03em;
    line-height: 1em;
    text-transform: uppercase; }

  section#latest-work a {
    font-size: 24px; }
  section#latest-work h1 {
    font-family: "Rokkitt", serif;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.5); }
  section#latest-work h2 {
    font-family: "Droid Sans", sans-serif;
    font-size: 24px;
    text-transform: uppercase; }
  section#latest-work h3 {
    font-family: "Droid Sans", sans-serif;
    font-size: 24px;
    font-weight: 24px; }
  section#latest-work h4 {
    font-family: "Droid Sans", sans-serif;
    font-size: 24px; }
  section#latest-work ul li {
    font-family: "Droid Sans", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.03em; }

  footer a, footer i {
    font-size: 96px;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -webkit-transition: color 0.2s;
    transition: color 0.2s ease-out; }
    footer a:hover, footer i:hover {
      color: #1E3465; }
  footer h1 {
    font-family: "Rokkitt", serif;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.5); } }
/* * * * * * * * * * * */
/* Large Desktop Sizing  */
/* * * * * * * * * * * */
@media screen and (min-width: 2561px) {
  section#introduction a, section#introduction p {
    font-size: 192px; }
  section#introduction h1 {
    font-size: 48px; }
  section#introduction i {
    font-size: 48px; } }
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  width: 100%;
  background-color: white; }

section {
  display: block;
  width: 100%; }

div .page-wrapper {
  width: 100%;
  float: right;
  clear: none; }

#greeting {
  width: 100%;
  min-height: 100%;
  padding-top: 40%;
  margin: 0;
  display: block; }

.brand {
  display: block;
  height: 100%;
  width: 100%; }

h1 {
  display: table; }

h2 {
  clear: both;
  float: left; }

i {
  clear: none;
  float: left;
  height: 100%;
  padding-top: 1%;
  margin-right: 25px;
  color: rgba(171, 18, 18, 0.9); }

.chevron {
  -webkit-transform: rotate(360deg);
  border-color: #ffffff transparent transparent transparent;
  border-style: solid;
  border-width: 6em 6em 0 6em;
  float: left;
  height: 0px;
  position: relative;
  width: 0px; }

.chevron_wrap {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  bottom: -2em;
  box-shadow: 0px 0px 5px 0px #333;
  display: block;
  font-size: 0.5em;
  left: 50%;
  position: absolute;
  z-index: 1; }

@media screen and (min-width: 320px) {
  section#greeting {
    background: url("../img/bkg/0/site-bg-sm.jpg") no-repeat center center scroll;
    background-size: cover; }
    section#greeting h1 {
      color: white;
      font-size: 84px;
      font-weight: 400;
      letter-spacing: 0.03em; }
    section#greeting h2 {
      color: white;
      font-size: 39px;
      font-weight: 200;
      line-height: 1.5em;
      letter-spacing: 0.015em; }
    section#greeting .chevron {
      border-width: 6em 6em 0 6em; }
    section#greeting .chevron_wrap {
      height: 20em;
      margin-left: -10em;
      padding: 8em 4em;
      width: 20em; } }
@media screen and (min-width: 1024px) {
  section#greeting {
    background: url("../img/bkg/0/site-bg-lg.jpg") no-repeat center center scroll;
    background-size: cover; }
    section#greeting h1 {
      font-size: 48px; }
    section#greeting h2 {
      font-size: 24px; }
    section#greeting .chevron {
      border-width: 3em 3em 0 3em; }
    section#greeting .chevron_wrap {
      height: 10em;
      margin-left: -5em;
      padding: 4em 2em;
      width: 10em; } }
@media screen and (min-width: 2561px) {
  section#greeting {
    background: url("../img/bkg/0/site-bg-xl.jpg") no-repeat;
    backgroudn-size: cover; } }
.big-triangle {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  border-bottom: 10px solid rgba(255, 255, 255, 0.1);
  border-left: 500px solid;
  border-right: 500px solid transparent;
  bottom: 0;
  color: rgba(55, 55, 55, 0.1);
  content: "";
  position: absolute;
  right: 50%;
  transform: rotate(0deg);
  width: 10%;
  z-index: 100; }

@media screen and (min-width: 320px) {
  #stat-cards {
    height: 480px;
    color: orange; } }
@media screen and (min-width: 768px) {
  #stat-cards {
    color: blue; } }
@media screen and (min-width: 1024px) {
  #stat-cards {
    color: yellow; } }
#stat-cards {
  width: 98%;
  margin: 2% 1%; }
  #stat-cards .stat-cards-wrap {
    background-color: blue;
    height: 90%;
    margin-top: 5%; }
  #stat-cards .stat-cards-wrap::after {
    clear: both; }
  #stat-cards .stat-card {
    display: block;
    height: 25%;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px; }
    #stat-cards .stat-card a {
      color: yellow;
      float: left; }
    #stat-cards .stat-card h2 {
      color: red;
      font-size: 20px; }
    #stat-cards .stat-card i {
      font-size: 40px;
      color: black;
      clear: right;
      float: right;
      position: relative;
      margin-right: 10px;
      top: 1%; }
    #stat-cards .stat-card span {
      color: green;
      float: left;
      clear: left;
      padding-top: 25px; }

@media screen and (min-width: 320px) {
  #introduction {
    color: orange;
    padding-top: 100px; }

  .circle-picture {
    width: 60%;
    border-radius: 50%;
    margin: 10% 20%; }

  p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify; } }
@media screen and (min-width: 768px) {
  #introduction {
    color: blue; }

  .circle-picture {
    width: 40%;
    margin: 10% 30%; }

  p {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%; } }
@media screen and (min-width: 1024px) {
  .circle-picture {
    width: 20%;
    margin: 3% 40%; }

  p {
    width: 60%;
    margin: 0% 20%; } }
@media screen and (min-width: 2561px) {
  .circle-picture {
    width: 30%;
    margin: 4% 45%; } }
#introduction {
  display: block; }
  #introduction i {
    text-align: center;
    clear: both;
    width: 100%;
    margin: 2% 0; }

@media screen and (min-width: 320px) {
  section#latest-work div {
    width: 100%; }
  section#latest-work article {
    width: 100%; }
  section#latest-work h1 {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 35px; }
  section#latest-work h2 {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding-bottom: 5px;
    margin: 2% 4%;
    border-bottom: 2px #0032be solid; }
  section#latest-work h3 {
    color: black;
    width: 90%;
    margin: 3% 5%;
    text-align: justify;
    margin-bottom: 6%; }
  section#latest-work h4 {
    margin: 2% 4%;
    color: rgba(200, 0, 0, 0.5); }
  section#latest-work ul {
    width: 92%;
    margin: 0% 4%; }
  section#latest-work ul li {
    color: white;
    background-color: rgba(171, 18, 18, 0.6);
    margin: 2% 1%;
    padding: 2%;
    display: inline-flex; } }
@media screen and (min-width: 1024px) {
  section#latest-work h1 {
    padding-left: 100px; }
  section#latest-work div {
    width: 84%;
    clear: both;
    margin: 0 8%; }
    section#latest-work div article {
      width: 33%;
      height: 400px;
      float: right;
      clear: none;
      display: block;
      padding: 1% 2%;
      margin: 0 0; }
      section#latest-work div article h2 {
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 2px #0032be solid;
        margin: 0; }
      section#latest-work div article h3 {
        width: 90%;
        color: black;
        text-align: justify;
        margin: 3% 5%; }
      section#latest-work div article h4 {
        color: rgba(200, 0, 0, 0.5);
        margin: 40px 0px; }
      section#latest-work div article ul {
        width: 100%; }
      section#latest-work div article ul li {
        color: white;
        background-color: rgba(171, 18, 18, 0.6);
        display: inline-flex;
        padding: 5px; } }
@media screen and (min-width: 320px) {
  #skills-and-tools div {
    width: 100%; }
  #skills-and-tools ul {
    width: 85%; }
  #skills-and-tools ul li {
    padding: 3%;
    display: inline-flex; }
  #skills-and-tools .rubygems li {
    color: rgba(171, 18, 18, 0.9);
    background-color: rgba(171, 18, 18, 0.2); }
  #skills-and-tools .tools li {
    background-color: rgba(130, 120, 117, 0.7);
    color: #141212; }
  #skills-and-tools .soft-skills li {
    background-color: rgba(64, 87, 126, 0.3);
    color: #1E3465; }
  #skills-and-tools .learning li {
    background-color: rgba(255, 215, 0, 0.1);
    color: black; }
  #skills-and-tools .dislikes li {
    background-color: rgba(128, 0, 128, 0.1);
    color: #8773AF; }
  #skills-and-tools .loves li {
    background-color: rgba(0, 128, 0, 0.6);
    color: white; } }
#skills-and-tools {
  width: 85%;
  margin: 4% 10%; }
  #skills-and-tools div {
    width: 100%; }
  #skills-and-tools ul {
    width: 100%;
    padding: 20px; }
  #skills-and-tools ul li {
    margin: 8px 8px;
    padding: 10px 18px; }

@media screen and (min-width: 320px) {
  #call-to-action {
    color: orange; } }
@media screen and (min-width: 768px) {
  #call-to-action {
    color: blue; } }
@media screen and (min-width: 1024px) {
  #call-to-action {
    color: yellow; } }
@media screen and (min-width: 320px) {
  footer {
    width: 90%;
    margin: 15% 5% 0% 5%; }
    footer ul {
      width: 100%;
      margin: 5% 0; }
    footer ul li {
      display: inline-flex; }
      footer ul li a, footer ul li i {
        color: rgba(0, 0, 0, 0.3); }
        footer ul li a a:hover, footer ul li i a:hover {
          color: red; } }
@media screen and (min-width: 1024px) {
  footer {
    display: block;
    height: 200px; }
    footer div {
      padding-top: 100px;
      text-align: center;
      width: 100%; }
      footer div h1 {
        width: 100%;
        text-align: center; }
      footer div ul {
        text-align: center;
        width: 100%; } }
